*{margin: 0;padding: 0;box-sizing: border-box;}
body{font-family: Cabin;}
.content2 >img{width: 300px;}
.content2 >.img1 {width: 400px;}
.image{height: 200px;object-fit: cover;}
.image1{height: 200px;object-fit: cover;}
.image2{height: 200px;}
header{background-color: lightblue;}
.photos >img{height: 200px;width: 300px;object-fit: cover;}
.content4{background-color: lightskyblue;}
@media(width>375px){
    body{display: flex;align-items: center;justify-content: center;flex-direction: column;}
    header >img{width: 300px;}
    .header >nav{display: none;}
    .header > .icon{color: rgb(36, 36, 80);}
    header{width: 100%;height: 400px;}
    .header{display: flex;align-items: center;justify-content: center;flex-direction: column;}
    .text {color: rgb(51, 51, 134);width: 300px;font-size: 20px;margin-left: 10px;}

    header >img{position: absolute;margin-left: 50px;margin-top: 40px;}
    .content1 >h1{font-size: 40px;color: rgb(83, 83, 150);margin-top: 50px;}
    .content2{display: flex;
    align-items: center;
justify-content: center;
flex-direction: column;gap: 30px;margin-top: 30px;}
.content1{display: flex;flex-direction: column;gap: 30px;text-align: center;}
    .content1 >button{background-color:  rgb(83, 83, 150);color: white;
    width: 150px;height: 40px;border: none;border-radius: 20px;margin-left: 100px;
    }

        .icons>img{width: 200px;}
        .content3{width: 300px;border-radius: 30px;display: flex;flex-direction: column;
            justify-content: center;align-items: center;gap: 30px;}
        .content3 >h1{margin-top: 100px;color: rgb(27, 27, 74);font-size: 40px;}
        .content4{margin-top: 50px;height: 1200px;}
        .content4 >h1{text-align: center;margin-top: 30px;}
        .photos{display: flex;
        align-items: center;
    justify-content: center;
flex-direction: column;gap: 30px;margin-top: 30px;}
footer{height: 70px;display: flex;align-items: center;justify-content: center;color: grey;}
}

@media (width >1300px){
    body{overflow-x: hidden;}
    .text{display: flex;align-items: center;justify-content: center;flex-direction: column;width: 100%;}
    .text >h1{font-size: 60px;margin-top: 30px;}
    header >img{margin-left: 400px;}
    header >img{width: 600px;}
    .content1{margin-top: 170px;}
    .content1 >h1{font-size: 60px;}
    .content1 >button{margin-left: 340px;}
    .content2{display: flex;flex-direction: row;}
    .content3 >h1{font-size: 80px;width: 800px;}
    .content3{display: flex;align-items: center;justify-content: baseline;flex-direction: column;margin-left: 100px;}
  .icons{width: 800px;}
  .icons .img{width: 200px;}
  .content4{width: 100%;height: 400px;}
  .photos{display: flex;flex-direction: row;}




}